.form-ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 8px 16px 16px 8px;
}
.form-ul li input[type='checkbox'],
.form-ul li input[type='radio'] {
  width: min-content;
}

form fieldset {
  margin-bottom: 16px;
}

.section__modal-starpage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 30px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: var(--modal-transition);
}
.modal__dialog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  transition: var(--modal-transition);
  transform: translateY(-50px);
}

.modal--s .modal__dialog {
  width: 320px;
}
@media (min-width: 640px) {
  .modal--s .modal__dialog {
    width: 600px;
  }
}
.modal--m .modal__dialog {
  width: 600px;
}
.modal--l .modal__dialog {
  width: 900px;
}
.modal--screen-height .modal__dialog {
  max-height: var(--modal-height);
}

.modal-active {
  visibility: visible;
  opacity: 1;
}
.modal-active .modal__dialog {
  transform: translateY(0);
}

.modal--has-scroll .modal__dialog-header,
.modal--has-scroll .modal__dialog-footer {
  -webkit-box-shadow: 0 0px 6px #ccc;
  -moz-box-shadow: 0 0px 6px #ccc;
  box-shadow: 0 0px 6px #ccc;
}

.modal__dialog-header {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  padding: 16px 16px 0;
}
.modal__dialog-header-content {
  flex-grow: 1;
}
.modal__dialog-header-content h2 {
  width: 100%;
  font-size: 18px;
}
.modal__dialog-header-close {
  display: flex;
  align-items: center;
}
.modal__dialog-header-btn-close {
  margin: 0;
  padding: 0;
  background-color: white;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
}

.modal__dialog-header,
.modal__dialog-body {
  background-color: white;
}
.modal__dialog-body {
  padding: 16px;
  flex-grow: 1;
  overflow: auto;
  transition: var(--modal-transition);
}

.modal__dialog-header,
.modal__dialog-footer {
  z-index: 21;
  background: white;
  transition: var(--modal-transition);
}

/*ИНДИКАТОР ФОРМЫ*/

/* Hide all steps by default: */
.tab {
  display: block;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: seagreen;
}

.btn__footer-wrapper {
  display: flex;
}
