@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #303030;
  --color-brand: #6f26ec;
  --second-color-brand: #a84392;

  --modal-width: 320px;
  --modal-height: 80vh;
  --modal-transition: 80vh;

  font-family: 'Inter', sans-serif;

  transition: all 0.4s;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
  background: var(--color-white);
}

.title {
  align-self: center;
  background-color: var(--color-dark);
  background-image: linear-gradient(
    254deg,
    rgba(217, 0, 221, 1) 0%,
    rgba(3, 69, 250, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ==============
    MOBILE: Menu
   ============== */
nav {
  display: none;
}

ul {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.ul-footer {
  margin: 0;
}

nav a {
  display: flex;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  color: var(--color-brand);
}

nav a:hover,
nav a:visited {
  color: var(--color-brand);
  opacity: 0.8;
}

nav a:hover {
  text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 30px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* ====================
    INTERMEDIATE: Menu
   ==================== */
  nav {
    margin-right: 100px;
    display: flex;
  }

  nav a {
    width: auto;
    padding: 25px 2%;
  }

  /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {
  /* ====================
    WIDE: CSS3 Effects
   ==================== */

  /* .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  } */

  /* ============
    WIDE: Menu
   ============ */

  nav {
    width: auto;
  }

  /* ============
    WIDE: Main
   ============ */

  .main article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media only screen and (min-width: 1140px) {
  /* ===============
    Maximal Width
   =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }

  nav {
    margin-right: 64px;
  }
}

@media only screen and (min-width: 1220px) {
  /* ===============
    Maximal Width
   =============== */

  nav {
    margin-right: 0;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p {
    display: flex;
    flex-direction: column;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
    color: var(--color-dark);
  }

  h1,
  h2,
  h3 {
    page-break-after: avoid;
    color: var(--color-dark);
    font-family: 'Montserrat', sans-serif;
  }
}
